* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}

.container h2{
    z-index: 1;
    position: relative;
    color: #fff;
    font-size: 5.6rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2rem;
    line-height: 3.75rem;
}

.container h2 span {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 1.2rem;
}

@media (max-width: 800px) {
    .container h2 {
        font-size: 3.75rem;
        letter-spacing: 1.18rem;
        line-height: 2.18rem;
    }
    
    .container h2 span {
        font-size: 1.6rem;
    }
}

